<div id="game-owner" 
     data-current-user-id="<%= current_user&.id %>" 
     data-position-one-user-id="<%= @game.players_hash["1"][0] %>">
</div>

<div class="game-room-container">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <h2 class="room-title text-center mb-4"><%= @room.name %></h2>
        <div id="room-id" data-room-id="<%= @room.id %>"></div>
        <div id="game-info" class="text-center mt-4"></div>
        <div id="players">
          <%= render partial: "player_list", locals: { players_hash: @game.players_hash, game: @game } %>
        </div>
        <div class="text-center mt-4">
          <%= button_to "Leave Game", leave_room_path(@room), 
                        method: :post, 
                        class: "btn btn-danger btn-lg leave-btn",
                        confirm: "Are you sure you want to leave the game?",
                        data: { turbo_prefetch: true } %>
        </div>
        <div id="button-container" class="text-center mt-4"></div>
      </div>
    </div>
  </div>
</div>